@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffbf47;
  color: #393939;
}

.createBtn > div,
.deleteBtn {
  font-size: 14px;
  display: flex;
  align-items: center;
}
